--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: conferences; Type: TABLE; Schema: public; Owner: maxtb
--

CREATE TABLE public.conferences (
    id integer NOT NULL,
    name text,
    season_id integer
);


ALTER TABLE public.conferences OWNER TO maxtb;

--
-- Name: conferences_id_seq; Type: SEQUENCE; Schema: public; Owner: maxtb
--

ALTER TABLE public.conferences ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.conferences_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: divisions; Type: TABLE; Schema: public; Owner: maxtb
--

CREATE TABLE public.divisions (
    id integer NOT NULL,
    name text,
    conference_id integer,
    season_id integer NOT NULL
);


ALTER TABLE public.divisions OWNER TO maxtb;

--
-- Name: divisions_id_seq; Type: SEQUENCE; Schema: public; Owner: maxtb
--

ALTER TABLE public.divisions ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.divisions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: games; Type: TABLE; Schema: public; Owner: maxtb
--

CREATE TABLE public.games (
    id integer NOT NULL,
    game_id integer,
    season_id integer,
    date date,
    home_team_id integer,
    away_team_id integer,
    home_score integer,
    away_score integer,
    duration interval,
    home_leading_by_1 interval,
    home_leading_by_2 interval,
    home_leading_by_3 interval,
    home_leading_by_more_than_3 interval,
    away_leading_by_1 interval,
    away_leading_by_2 interval,
    away_leading_by_3 interval,
    away_leading_by_more_than_3 interval,
    time_tied interval
);


ALTER TABLE public.games OWNER TO maxtb;

--
-- Name: games_id_seq; Type: SEQUENCE; Schema: public; Owner: maxtb
--

CREATE SEQUENCE public.games_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.games_id_seq OWNER TO maxtb;

--
-- Name: games_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: maxtb
--

ALTER SEQUENCE public.games_id_seq OWNED BY public.games.id;


--
-- Name: player_stats; Type: TABLE; Schema: public; Owner: maxtb
--

CREATE TABLE public.player_stats (
    id integer NOT NULL,
    player_id integer,
    team_season_id integer,
    goals integer,
    assists integer,
    points integer,
    plus_minus integer,
    average_toi interval,
    hits integer,
    pim integer,
    games_played integer
);


ALTER TABLE public.player_stats OWNER TO maxtb;

--
-- Name: player_stats_id_seq; Type: SEQUENCE; Schema: public; Owner: maxtb
--

CREATE SEQUENCE public.player_stats_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.player_stats_id_seq OWNER TO maxtb;

--
-- Name: player_stats_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: maxtb
--

ALTER SEQUENCE public.player_stats_id_seq OWNED BY public.player_stats.id;


--
-- Name: player_stats_playoffs; Type: TABLE; Schema: public; Owner: maxtb
--

CREATE TABLE public.player_stats_playoffs (
    id integer DEFAULT nextval('public.player_stats_id_seq'::regclass) NOT NULL,
    player_id integer,
    team_season_id integer,
    goals integer,
    assists integer,
    points integer,
    plus_minus integer,
    average_toi interval,
    hits integer,
    pim integer,
    games_played integer
);


ALTER TABLE public.player_stats_playoffs OWNER TO maxtb;

--
-- Name: players; Type: TABLE; Schema: public; Owner: maxtb
--

CREATE TABLE public.players (
    id integer NOT NULL,
    first_name text NOT NULL,
    last_name text NOT NULL,
    birthdate text,
    country text,
    shoots_catches text,
    ameture_league text
);


ALTER TABLE public.players OWNER TO maxtb;

--
-- Name: playoff_series; Type: TABLE; Schema: public; Owner: maxtb
--

CREATE TABLE public.playoff_series (
    id integer NOT NULL,
    season_id integer,
    round integer,
    conference text,
    series_number integer,
    winning_team_season_id integer,
    losing_team_season_id integer,
    games_won_by_winner integer,
    games_won_by_loser integer
);


ALTER TABLE public.playoff_series OWNER TO maxtb;

--
-- Name: playoff_series_id_seq; Type: SEQUENCE; Schema: public; Owner: maxtb
--

CREATE SEQUENCE public.playoff_series_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.playoff_series_id_seq OWNER TO maxtb;

--
-- Name: playoff_series_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: maxtb
--

ALTER SEQUENCE public.playoff_series_id_seq OWNED BY public.playoff_series.id;


--
-- Name: rosters; Type: TABLE; Schema: public; Owner: maxtb
--

CREATE TABLE public.rosters (
    id integer NOT NULL,
    player_id integer,
    team_season_id integer,
    jersey_number integer,
    "position" text,
    player_weight_pounds integer,
    player_height_inches integer
);


ALTER TABLE public.rosters OWNER TO maxtb;

--
-- Name: rosters_id_seq; Type: SEQUENCE; Schema: public; Owner: maxtb
--

CREATE SEQUENCE public.rosters_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.rosters_id_seq OWNER TO maxtb;

--
-- Name: rosters_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: maxtb
--

ALTER SEQUENCE public.rosters_id_seq OWNED BY public.rosters.id;


--
-- Name: seasons; Type: TABLE; Schema: public; Owner: maxtb
--

CREATE TABLE public.seasons (
    id integer NOT NULL,
    season_start_year integer NOT NULL,
    season_end_year integer NOT NULL,
    wild_card_in_use boolean,
    ties_in_use boolean,
    point_for_ot_loss boolean,
    regular_season_end_date date,
    playoff_end_date date
);


ALTER TABLE public.seasons OWNER TO maxtb;

--
-- Name: seasons_id_seq; Type: SEQUENCE; Schema: public; Owner: maxtb
--

CREATE SEQUENCE public.seasons_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.seasons_id_seq OWNER TO maxtb;

--
-- Name: seasons_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: maxtb
--

ALTER SEQUENCE public.seasons_id_seq OWNED BY public.seasons.id;


--
-- Name: team_seasons; Type: TABLE; Schema: public; Owner: maxtb
--

CREATE TABLE public.team_seasons (
    id integer NOT NULL,
    team_id integer,
    season_id integer,
    wins integer,
    losses integer,
    ot integer,
    points integer,
    division_id integer
);


ALTER TABLE public.team_seasons OWNER TO maxtb;

--
-- Name: team_seasons_id_seq; Type: SEQUENCE; Schema: public; Owner: maxtb
--

CREATE SEQUENCE public.team_seasons_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.team_seasons_id_seq OWNER TO maxtb;

--
-- Name: team_seasons_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: maxtb
--

ALTER SEQUENCE public.team_seasons_id_seq OWNED BY public.team_seasons.id;


--
-- Name: teams; Type: TABLE; Schema: public; Owner: maxtb
--

CREATE TABLE public.teams (
    id integer NOT NULL,
    name text NOT NULL,
    abbreviation text,
    franchise_id integer
);


ALTER TABLE public.teams OWNER TO maxtb;

--
-- Name: games id; Type: DEFAULT; Schema: public; Owner: maxtb
--

ALTER TABLE ONLY public.games ALTER COLUMN id SET DEFAULT nextval('public.games_id_seq'::regclass);


--
-- Name: player_stats id; Type: DEFAULT; Schema: public; Owner: maxtb
--

ALTER TABLE ONLY public.player_stats ALTER COLUMN id SET DEFAULT nextval('public.player_stats_id_seq'::regclass);


--
-- Name: playoff_series id; Type: DEFAULT; Schema: public; Owner: maxtb
--

ALTER TABLE ONLY public.playoff_series ALTER COLUMN id SET DEFAULT nextval('public.playoff_series_id_seq'::regclass);


--
-- Name: rosters id; Type: DEFAULT; Schema: public; Owner: maxtb
--

ALTER TABLE ONLY public.rosters ALTER COLUMN id SET DEFAULT nextval('public.rosters_id_seq'::regclass);


--
-- Name: seasons id; Type: DEFAULT; Schema: public; Owner: maxtb
--

ALTER TABLE ONLY public.seasons ALTER COLUMN id SET DEFAULT nextval('public.seasons_id_seq'::regclass);


--
-- Name: team_seasons id; Type: DEFAULT; Schema: public; Owner: maxtb
--

ALTER TABLE ONLY public.team_seasons ALTER COLUMN id SET DEFAULT nextval('public.team_seasons_id_seq'::regclass);


--
-- Data for Name: conferences; Type: TABLE DATA; Schema: public; Owner: maxtb
--



--
-- Data for Name: divisions; Type: TABLE DATA; Schema: public; Owner: maxtb
--



--
-- Data for Name: games; Type: TABLE DATA; Schema: public; Owner: maxtb
--

COPY public.games (id, game_id, season_id, date, home_team_id, away_team_id, home_score, away_score, duration, home_leading_by_1, home_leading_by_2, home_leading_by_3, home_leading_by_more_than_3, away_leading_by_1, away_leading_by_2, away_leading_by_3, away_leading_by_more_than_3, time_tied) FROM stdin;
\.


--
-- Data for Name: player_stats; Type: TABLE DATA; Schema: public; Owner: maxtb
--

COPY public.player_stats (id, player_id, team_season_id, goals, assists, points, plus_minus, average_toi, hits, pim, games_played) FROM stdin;
\.


--
-- Data for Name: player_stats_playoffs; Type: TABLE DATA; Schema: public; Owner: maxtb
--

COPY public.player_stats_playoffs (id, player_id, team_season_id, goals, assists, points, plus_minus, average_toi, hits, pim, games_played) FROM stdin;
\.


--
-- Data for Name: players; Type: TABLE DATA; Schema: public; Owner: maxtb
--



--
-- Data for Name: playoff_series; Type: TABLE DATA; Schema: public; Owner: maxtb
--

COPY public.playoff_series (id, season_id, round, conference, series_number, winning_team_season_id, losing_team_season_id, games_won_by_winner, games_won_by_loser) FROM stdin;
\.


--
-- Data for Name: rosters; Type: TABLE DATA; Schema: public; Owner: maxtb
--



--
-- Data for Name: seasons; Type: TABLE DATA; Schema: public; Owner: maxtb
--



--
-- Data for Name: team_seasons; Type: TABLE DATA; Schema: public; Owner: maxtb
--



--
-- Data for Name: teams; Type: TABLE DATA; Schema: public; Owner: maxtb
--



--
-- Name: conferences_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maxtb
--

SELECT pg_catalog.setval('public.conferences_id_seq', 30, true);


--
-- Name: divisions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maxtb
--

SELECT pg_catalog.setval('public.divisions_id_seq', 72, true);


--
-- Name: games_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maxtb
--

SELECT pg_catalog.setval('public.games_id_seq', 1, false);


--
-- Name: player_stats_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maxtb
--

SELECT pg_catalog.setval('public.player_stats_id_seq', 1, false);


--
-- Name: playoff_series_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maxtb
--

SELECT pg_catalog.setval('public.playoff_series_id_seq', 1, false);


--
-- Name: rosters_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maxtb
--

SELECT pg_catalog.setval('public.rosters_id_seq', 16594, true);


--
-- Name: seasons_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maxtb
--

SELECT pg_catalog.setval('public.seasons_id_seq', 1, false);


--
-- Name: team_seasons_id_seq; Type: SEQUENCE SET; Schema: public; Owner: maxtb
--

SELECT pg_catalog.setval('public.team_seasons_id_seq', 987, true);


--
-- Name: conferences conferences_pkey; Type: CONSTRAINT; Schema: public; Owner: maxtb
--

ALTER TABLE ONLY public.conferences
    ADD CONSTRAINT conferences_pkey PRIMARY KEY (id);


--
-- Name: divisions divisions_pkey; Type: CONSTRAINT; Schema: public; Owner: maxtb
--

ALTER TABLE ONLY public.divisions
    ADD CONSTRAINT divisions_pkey PRIMARY KEY (id);


--
-- Name: games games_game_id_key; Type: CONSTRAINT; Schema: public; Owner: maxtb
--

ALTER TABLE ONLY public.games
    ADD CONSTRAINT games_game_id_key UNIQUE (game_id);


--
-- Name: games games_pkey; Type: CONSTRAINT; Schema: public; Owner: maxtb
--

ALTER TABLE ONLY public.games
    ADD CONSTRAINT games_pkey PRIMARY KEY (id);


--
-- Name: player_stats player_stats_pkey; Type: CONSTRAINT; Schema: public; Owner: maxtb
--

ALTER TABLE ONLY public.player_stats
    ADD CONSTRAINT player_stats_pkey PRIMARY KEY (id);


--
-- Name: player_stats player_stats_player_id_team_season_id_key; Type: CONSTRAINT; Schema: public; Owner: maxtb
--

ALTER TABLE ONLY public.player_stats
    ADD CONSTRAINT player_stats_player_id_team_season_id_key UNIQUE (player_id, team_season_id);


--
-- Name: player_stats_playoffs player_stats_playoffs_pkey; Type: CONSTRAINT; Schema: public; Owner: maxtb
--

ALTER TABLE ONLY public.player_stats_playoffs
    ADD CONSTRAINT player_stats_playoffs_pkey PRIMARY KEY (id);


--
-- Name: player_stats_playoffs player_stats_playoffs_player_id_team_season_id_key; Type: CONSTRAINT; Schema: public; Owner: maxtb
--

ALTER TABLE ONLY public.player_stats_playoffs
    ADD CONSTRAINT player_stats_playoffs_player_id_team_season_id_key UNIQUE (player_id, team_season_id);


--
-- Name: player_stats_playoffs player_stats_playoffs_player_id_team_season_id_key1; Type: CONSTRAINT; Schema: public; Owner: maxtb
--

ALTER TABLE ONLY public.player_stats_playoffs
    ADD CONSTRAINT player_stats_playoffs_player_id_team_season_id_key1 UNIQUE (player_id, team_season_id);


--
-- Name: players players_pkey; Type: CONSTRAINT; Schema: public; Owner: maxtb
--

ALTER TABLE ONLY public.players
    ADD CONSTRAINT players_pkey PRIMARY KEY (id);


--
-- Name: playoff_series playoff_series_pkey; Type: CONSTRAINT; Schema: public; Owner: maxtb
--

ALTER TABLE ONLY public.playoff_series
    ADD CONSTRAINT playoff_series_pkey PRIMARY KEY (id);


--
-- Name: rosters rosters_pkey; Type: CONSTRAINT; Schema: public; Owner: maxtb
--

ALTER TABLE ONLY public.rosters
    ADD CONSTRAINT rosters_pkey PRIMARY KEY (id);


--
-- Name: rosters rosters_player_id_team_season_id_key; Type: CONSTRAINT; Schema: public; Owner: maxtb
--

ALTER TABLE ONLY public.rosters
    ADD CONSTRAINT rosters_player_id_team_season_id_key UNIQUE (player_id, team_season_id);


--
-- Name: seasons seasons_pkey; Type: CONSTRAINT; Schema: public; Owner: maxtb
--

ALTER TABLE ONLY public.seasons
    ADD CONSTRAINT seasons_pkey PRIMARY KEY (id);


--
-- Name: team_seasons team_seasons_pkey; Type: CONSTRAINT; Schema: public; Owner: maxtb
--

ALTER TABLE ONLY public.team_seasons
    ADD CONSTRAINT team_seasons_pkey PRIMARY KEY (id);


--
-- Name: teams teams_pkey; Type: CONSTRAINT; Schema: public; Owner: maxtb
--

ALTER TABLE ONLY public.teams
    ADD CONSTRAINT teams_pkey PRIMARY KEY (id);


--
-- Name: conferences unique_conference_name_per_season; Type: CONSTRAINT; Schema: public; Owner: maxtb
--

ALTER TABLE ONLY public.conferences
    ADD CONSTRAINT unique_conference_name_per_season UNIQUE (name, season_id);


--
-- Name: divisions unique_division_name_per_conference; Type: CONSTRAINT; Schema: public; Owner: maxtb
--

ALTER TABLE ONLY public.divisions
    ADD CONSTRAINT unique_division_name_per_conference UNIQUE (name, conference_id);


--
-- Name: player_stats unique_player_team_season; Type: CONSTRAINT; Schema: public; Owner: maxtb
--

ALTER TABLE ONLY public.player_stats
    ADD CONSTRAINT unique_player_team_season UNIQUE (player_id, team_season_id);


--
-- Name: team_seasons unique_team_season_pair; Type: CONSTRAINT; Schema: public; Owner: maxtb
--

ALTER TABLE ONLY public.team_seasons
    ADD CONSTRAINT unique_team_season_pair UNIQUE (team_id, season_id);


--
-- Name: conferences conferences_season_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: maxtb
--

ALTER TABLE ONLY public.conferences
    ADD CONSTRAINT conferences_season_id_fkey FOREIGN KEY (season_id) REFERENCES public.seasons(id);


--
-- Name: divisions divisions_conference_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: maxtb
--

ALTER TABLE ONLY public.divisions
    ADD CONSTRAINT divisions_conference_id_fkey FOREIGN KEY (conference_id) REFERENCES public.conferences(id);


--
-- Name: divisions divisions_season_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: maxtb
--

ALTER TABLE ONLY public.divisions
    ADD CONSTRAINT divisions_season_id_fkey FOREIGN KEY (season_id) REFERENCES public.seasons(id);


--
-- Name: games games_away_team_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: maxtb
--

ALTER TABLE ONLY public.games
    ADD CONSTRAINT games_away_team_id_fkey FOREIGN KEY (away_team_id) REFERENCES public.teams(id);


--
-- Name: games games_home_team_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: maxtb
--

ALTER TABLE ONLY public.games
    ADD CONSTRAINT games_home_team_id_fkey FOREIGN KEY (home_team_id) REFERENCES public.teams(id);


--
-- Name: games games_season_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: maxtb
--

ALTER TABLE ONLY public.games
    ADD CONSTRAINT games_season_id_fkey FOREIGN KEY (season_id) REFERENCES public.seasons(id);


--
-- Name: player_stats player_stats_player_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: maxtb
--

ALTER TABLE ONLY public.player_stats
    ADD CONSTRAINT player_stats_player_id_fkey FOREIGN KEY (player_id) REFERENCES public.players(id);


--
-- Name: player_stats player_stats_team_season_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: maxtb
--

ALTER TABLE ONLY public.player_stats
    ADD CONSTRAINT player_stats_team_season_id_fkey FOREIGN KEY (team_season_id) REFERENCES public.team_seasons(id);


--
-- Name: playoff_series playoff_series_losing_team_season_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: maxtb
--

ALTER TABLE ONLY public.playoff_series
    ADD CONSTRAINT playoff_series_losing_team_season_id_fkey FOREIGN KEY (losing_team_season_id) REFERENCES public.team_seasons(id);


--
-- Name: playoff_series playoff_series_season_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: maxtb
--

ALTER TABLE ONLY public.playoff_series
    ADD CONSTRAINT playoff_series_season_id_fkey FOREIGN KEY (season_id) REFERENCES public.seasons(id);


--
-- Name: playoff_series playoff_series_winning_team_season_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: maxtb
--

ALTER TABLE ONLY public.playoff_series
    ADD CONSTRAINT playoff_series_winning_team_season_id_fkey FOREIGN KEY (winning_team_season_id) REFERENCES public.team_seasons(id);


--
-- Name: rosters rosters_player_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: maxtb
--

ALTER TABLE ONLY public.rosters
    ADD CONSTRAINT rosters_player_id_fkey FOREIGN KEY (player_id) REFERENCES public.players(id);


--
-- Name: rosters rosters_team_season_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: maxtb
--

ALTER TABLE ONLY public.rosters
    ADD CONSTRAINT rosters_team_season_id_fkey FOREIGN KEY (team_season_id) REFERENCES public.team_seasons(id);


--
-- Name: team_seasons team_seasons_division_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: maxtb
--

ALTER TABLE ONLY public.team_seasons
    ADD CONSTRAINT team_seasons_division_id_fkey FOREIGN KEY (division_id) REFERENCES public.divisions(id);


--
-- Name: team_seasons team_seasons_season_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: maxtb
--

ALTER TABLE ONLY public.team_seasons
    ADD CONSTRAINT team_seasons_season_id_fkey FOREIGN KEY (season_id) REFERENCES public.seasons(id);


--
-- Name: team_seasons team_seasons_team_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: maxtb
--

ALTER TABLE ONLY public.team_seasons
    ADD CONSTRAINT team_seasons_team_id_fkey FOREIGN KEY (team_id) REFERENCES public.teams(id);


--
-- PostgreSQL database dump complete
--

